h1 {
    text-decoration: underline;
    margin-left: 180px;
  }
  header {
    background-color: rgb(0, 195, 255);
    padding-left: 10px;
    border-radius: 10px;
    border: 3px Solid red;
  }
  a {
    padding: 5px;
  }
  nav {
    background-color: rgb(185, 246, 239);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    color: black;
    display: inline-block;
    font-size: 20px;
    margin: 0px 50px;
  }
  h2 {
    text-align: center;
  }
  figure {
    display: inline-block;
    background-color: rgb(205, 255, 203);
    border: 5px solid blanchedalmond;
    margin: left 100px;
  }
  figcaption {
    text-align: center;
  }
  .card-1 {
    margin-left: 10px;
  }
  .nav-1 {
    list-style-type: none;
    display: flex;
  }
  footer {
    background-color: black;
    color: beige;
    padding: 10px;
  }
  
  footer h3 {
    text-align: center;
  }
  address {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
  address h4 {
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }
  .siv-1 {
    margin-left: 100px;
  }
  